
<header>
    <div class="logo">
      NJUMU
    </div>
    <nav>
      <div>
        <a href = "/sign_in">Login</a>
      </div>
       </br>
      <div>
        <a href = "/sign_up">Sign Up</a>
      </div>
    </nav>
</header>


