<!DOCTYPE html>
<html lang="eng">
<head>
    {{>headContents}}
    <title>Home</title>
</head>
<body>
  {{>header}}
  
  <main>
    <h1>
      Wozzaaaa !!
    </h1>
    <p>You are successfully logged in</p>
    <div>
      <a href = "/log_out">Log out</a>
    </div>
  </main>
  
  {{>footer}}
</body>
</html>